* {
  box-sizing: border-box;
  @font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
  }
  font-family: "Roboto";
}
body {
  margin: 0 5px 0 5px;
  height: 100%;
  margin: 0;
}
.fullpage {
  height: 100vh;

  margin: 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 200px 4fr;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #38bdf8;

  display: grid;
  grid-template-rows: 1fr 4fr 4fr 1fr;
  grid-template-columns: 0.6fr 3fr;
}
.content {
  background-color: #f4f4f5;
  height: 100%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;

  grid-template-rows: 1fr 4.5fr;
  max-width: 1200px;
}
.header {
  background-color: white;
  box-shadow: 1px 1px 3px lightgrey;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  grid-template-rows: 1fr 1.5fr;
}
.feed {
  display: grid;

  grid-template-columns: 3fr 1fr;
}
.projects {
  display: grid;
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 1fr 1fr;

  min-width: 400px;
  max-width: 800px;
  padding-left: 15px;
  margin-top: 10px;
}
.side-feed {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-template-columns: 1fr;
}
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}
.brand-name {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  margin-left: 3px;
}
.symbols {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 33px;
  gap: 12px;
  color: white;
}
.sidebar-options {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
  margin-left: 3px;
}
.sidebar-options div {
  background-color: inherit;

  width: 150px;
  height: 40px;

  text-align: left;
  padding-left: 3px;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}
.sidebar-options div:hover {
  color: #1e3a8a;
  font-weight: 700;
}

.search-part {
  margin: 20px 0 0 30px;

  height: 50px;
  display: flex;

  gap: 5px;
}
.search-logo {
}
.search-part input {
  height: 25px;
  border: none;
  background-color: #f4f4f5;
  width: 85%;
  border-radius: 6px;
  padding-left: 10px;
  font-family: "Roboto";
}
.search-part input:focus {
  outline: none;
}
.header-account {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 30px;
}

.header-account > div {
  font-size: 0.8rem;
}
.header-account > div:hover {
  color: #38bdf8;
}
.intro {
  display: grid;
  grid-template-columns: 75px 1fr;
}
.profile-picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.intro-text {
  padding-top: 22px;
  padding-left: 10px;
}
.small {
  font-size: 0.65rem;
  font-weight: lighter;
}

.big {
  font-size: 1.3rem;
  font-weight: bold;
}
.header-buttons {
  display: flex;
  justify-content: center space-evenly;
  align-items: center;
  gap: 20px;
}
.header-buttons button {
  border: none;
  height: 35px;
  width: 80px;
  background-color: #38bdf8;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
}
.header-buttons button:hover {
  background-color: #197197;
}
.project-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  height: 150px;
  width: 250px;
  border-radius: 6px;
  border-left: 10px solid gold;
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  padding: 10px 10px 10px 10px;
}
.description {
  margin-top: 5px;
}
.item-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.item:hover {
  border-left: 10px solid #38bdf8;
  transition: 0.3s ease;
  box-shadow: 3px 3px 7px lightgray;
}
.side-feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px 1fr 1.5fr;
  margin-top: 10px;
  align-items: center;
}
.side-item {
  height: 200px;
  width: 160px;
  border-radius: 6px;

  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
.side-item-item {
  height: 50px;
  width: 90%;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 2px solid rgba(230, 224, 224, 0.424);
  display: block;
}
.medium {
  font-size: 0.7rem;
  margin: 0;
}
.smaller {
  font-size: 0.5rem;
  font-weight: lighter;
  margin: 0;
}
.side-item-item:hover {
  border-bottom: 3px solid rgba(255, 217, 0, 0.508);
}
