form {
  width: 500px;

  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 45px;
  text-align: right;

  margin-right: 15px;
}
input {
  height: 1.8rem;
}

input,
textarea {
  font: 0.9em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 0.5rem;
}

input:focus,
textarea:focus {
}

textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5rem;
}
